# ===================================================================
# tpDcc-lib-python requirements file
# ===================================================================

pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
configparser
pyyaml
comtypes
docutils
six
pysvg
pathlib2
aenum;python_version <= '3.4'