# ===================================================================
# tpDcc-libs-python requirements file
# ===================================================================

pyyaml
yamlordereddictloader
configparser
docutils
comtypes