# ===================================================================
# tpDcc-lib-python requirements file
# ===================================================================
configparser
pyyaml
comtypes
docutils
six
pysvg
pathlib2