# ===================================================================
# tpDcc-core python requirements file @ Autodesk Maya
# ===================================================================

-r ./../common.txt
