# ===================================================================
# tpDcc-libs-python requirements file @ Standalone
# ===================================================================

-r ./../common.txt

configparser
docutils
comtypes
